<table class="uk-table uk-table-striped details-table table-collapse">
  <tbody>
    {{#each fields as |field|}}
      {{#if (get event.displayData field.key)}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{{get event.displayData field.key}}}</td>
        </tr>
      {{/if}}
    {{/each}}
    {{#if showEventText}}
      {{#each event.texts as |text|}}
        <tr>
          <td>{{text.label}}</td>
          <td>{{{text.memo}}}</td>
        </tr>
      {{/each}}
    {{/if}}
    {{#if event.displayData.lessons}}
      <tr>
        <td>{{translate "lessons"}}</td>
        <td>{{#each event.displayData.lessons as |lesson|}}{{lesson.DateFrom}} - {{lesson.DateTo}}: {{lesson.Designation}}<br>{{/each}}</td>
      </tr>
    {{/if}}
  </tbody>
</table>