<div class="uk-grid uk-margin">
  <div class="uk-search uk-search-default uk-width-2-3@s">
    <span data-uk-search-icon></span>
    <input id="searchEvents" class="uk-search-input" type="search" placeholder={{translate "search"}} value={{this.query}}>  
    {{#if this.query}}
      <button class="search-clear" type="button" uk-close {{action "clearSearch"}}></button>
    {{/if}}
  </div>
      <div class="uk-width-1-3@s">
      <select id="sortList" onchange={{action "sortBy" value="target.value"}} class="uk-select" aria-label="Select">
        {{this.sortOptions}}
      </select>
    </div>
</div>
{{#if this.filteredEvents.length}}
  {{yield this.filteredEvents}}
{{else}}
  <div>{{translate "searchNoEvents"}}</div>
{{/if}}

