<table class="uk-table uk-table-striped details-table">
  <tbody>
    {{#each fields as |field|}}
      {{#if (get event.displayData field.key)}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{get event.displayData field.key}}</td>
        </tr>
      {{/if}}
    {{/each}}
    {{#each event.texts as |text|}}
      {{#if text.label}}
        <tr>
          <td>{{text.label}}</td>
          <td>{{text.memo}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>

{{#each model.displayData.lessons as |lesson|}}
  {{lesson.DateFrom}} - {{lesson.DateTo}}: {{lesson.Designation}}<br>
{{/each}}