<div class="filter-tags {{this.event.filter}}">
<LinkTo @route="permalink" @model={{this.event.Id}} class="event-list-item uk-link-reset">
  <h3 class="uk-margin-small">
    <span class="uk-flex">
      <span><StatusLamp @status={{this.event.status}} /></span>
      <span>{{get this.event.displayData this.title}}</span>
    </span>
  </h3>
  {{#if this.event.subtitle}}
  <span class="uk-label uk-label-warning uk-margin-small">{{this.event.subtitle}}</span>
  {{/if}}
  <table class="details-table">
    <tbody>
      {{#each this.fields as |field|}}
        {{#if (get this.event.displayData field.key)}}
          <tr>
            <td>{{{field.name}}}</td>
            <td>{{{get this.event.displayData field.key}}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</LinkTo>
</div>
<script>
  // add classes to wrapper emberjs element
  var filter = document.querySelector('.jsfilter');
  var filterChild = filter.children;
  var filterClass = filterChild[0].className;
  filter.className = filterClass;
</script>