{{#if this.field.isLegend}}
  <legend class="uk-legend uk-margin">{{{this.field.label}}}</legend>
{{else}}
  <div id="hidden{{this.field.id}}" class="uk-margin uk-display-inline-block uk-width-1-1 {{this.field.options.hidden}}">
    <label class="uk-form-label" for={{this.field.id}}
      data-uk-tooltip={{this.field.options.tooltip}}>{{{this.field.label}}}</label>
    <div class="uk-form-controls">
      {{#if this.field.options.tooltip}}
      <label class="uk-margin uk-display-inline-block uk-text-meta">{{this.field.options.tooltip}}</label>
      {{/if}}
      {{component this.componentType field=this.field}}
      {{#if this.field.options.showHint }}
        <div class="{{this.field.options.hintClassNames}}">{{{this.field.hint}}}</div>
      {{/if}}
    </div>
  </div>
{{/if}}
