{{#if field.isLegend}}
  <legend class="uk-legend">{{{field.label}}}</legend>
{{else}}
  <div class="uk-margin uk-display-inline-block uk-width-1-1">
    <label class="uk-form-label" for="form-stacked-text"
      data-uk-tooltip={{field.options.tooltip}}>{{{field.label}}}</label>
    <div class="uk-form-controls">
      {{component componentType field=field}}
    </div>
  </div>
{{/if}}
