{{#if this.itemsOnCurrentPage}}
<div uk-filter="target: .js-filter">
  {{#if this.filterCodes}}
  <ul class="uk-subnav uk-subnav-pill">
    <li id="tagAll" class="uk-active filter-tag" uk-filter-control=""><a href="#">{{translate "FilterTagAllEvents"}}</a>
    </li>
    {{#each this.filterCodes as |code|}}
    <li id="tag{{code.id}}" class="filter-tag" uk-filter-control=".tag{{code.id}}"><a
        href="#{{code.Code}}" {{action "cancelNav"}}>{{code.Code}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
  <div class="uk-grid">
    <div class="uk-width-auto@m">
      <ul class="uk-pagination" data-uk-margin>
        <li>
          {{#if this.isFirstPage}}
          <LinkTo @route={{this.route}} @query={{hash page=this.previousPage}} class="uk-disabled">
                    <span data-uk-pagination-previous></span>
          </LinkTo>
          {{else}}
          <LinkTo @route={{this.route}} @query={{hash page=this.previousPage}}>
                    <span data-uk-pagination-previous></span>
          </LinkTo>
          {{/if}}
        </li>
        {{#if this.showFirst}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=1}}></LinkTo>
        </li>
        {{/if}}
        {{#if this.showLeftDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#each this.pages as |p|}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=p.page}}>{{p.page}}</LinkTo>
        </li>
        {{/each}}
        {{#if this.showRightDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#if this.showLast}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=this.lastPage}}>{{this.lastPage}}</LinkTo>
        </li>
        {{/if}}
        <li>
          {{#if this.isLastPage}}
          <LinkTo @route={{this.route}} @query={{hash page=this.nextPage}} class="uk-disabled">
                    <span data-uk-pagination-next></span>
          </LinkTo>
          {{else}}
          <LinkTo @route={{this.route}} @query={{hash page=this.nextPage}}>
                    <span data-uk-pagination-next></span>
          </LinkTo>
          {{/if}}
        </li>
      </ul>
    </div>
    <div class="uk-text-right uk-width-expand@m">
      <button id="bt-list" type="button" {{action "list" }} uk-icon="icon: list"></button>
      <button id="bt-grid" type="button" {{action "grid" }} uk-icon="icon: grid"></button>
    </div>
  </div>
  <ul id="list-cards" class="uk-list uk-list-divider js-filter">
    {{yield this.itemsOnCurrentPage}}
  </ul>
        <ul class="uk-pagination" data-uk-margin>
        <li>
          {{#if this.isFirstPage}}
          <LinkTo @route={{this.route}} @query={{hash page=this.previousPage}} class="uk-disabled">
                    <span data-uk-pagination-previous></span>
          </LinkTo>
          {{else}}
          <LinkTo @route={{this.route}} @query={{hash page=this.previousPage}}>
                    <span data-uk-pagination-previous></span>
          </LinkTo>
          {{/if}}
        </li>
        {{#if this.showFirst}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=1}}></LinkTo>
        </li>
        {{/if}}
        {{#if this.showLeftDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#each this.pages as |p|}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=p.page}}>{{p.page}}</LinkTo>
        </li>
        {{/each}}
        {{#if this.showRightDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#if this.showLast}}
        <li class={{if p.active "uk-active" }}>
          <LinkTo @route={{this.route}} @query={{hash page=this.lastPage}}>{{this.lastPage}}</LinkTo>
        </li>
        {{/if}}
        <li>
          {{#if this.isLastPage}}
          <LinkTo @route={{this.route}} @query={{hash page=this.nextPage}} class="uk-disabled">
                    <span data-uk-pagination-next></span>
          </LinkTo>
          {{else}}
          <LinkTo @route={{this.route}} @query={{hash page=this.nextPage}}>
                    <span data-uk-pagination-next></span>
          </LinkTo>
          {{/if}}
        </li>
      </ul>
</div>
{{else}}
{{translate "noResults"}}
{{/if}}