{{#if this.itemsOnCurrentPage}}
<div uk-filter="target: .js-filter">
  {{#if this.filterCodes}}
  <ul class="uk-subnav uk-subnav-pill">
    <li id="tagAll" class="uk-active filter-tag" uk-filter-control=""><a href="#">{{translate "FilterTagAllEvents"}}</a>
    </li>
    {{#each this.filterCodes as |code|}}
    <li id="tag{{code.id}}" class="filter-tag" uk-filter-control=".tag{{code.id}}"><a
        href="#{{code.Code}}">{{code.Code}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
  <div class="uk-grid">
    <div class="uk-width-auto@m">
      <ul class="uk-pagination" data-uk-margin>
        <li>
          {{#link-to this.route (query-params page=this.previousPage) class=(if this.isFirstPage "uk-disabled")}}
          <span data-uk-pagination-previous></span>
          {{/link-to}}
        </li>
        {{#if this.showFirst}}
        <li class={{if p.active "uk-active" }}>
          {{#link-to this.route (query-params page=1)}}1{{/link-to}}
        </li>
        {{/if}}
        {{#if this.showLeftDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#each this.pages as |p|}}
        <li class={{if p.active "uk-active" }}>
          {{#link-to this.route (query-params page=p.page)}}{{p.page}}{{/link-to}}
        </li>
        {{/each}}
        {{#if this.showRightDots}}
        <li class="uk-disabled">
          <span>...</span>
        </li>
        {{/if}}
        {{#if this.showLast}}
        <li class={{if p.active "uk-active" }}>
          {{#link-to this.route (query-params page=this.lastPage)}}{{this.lastPage}}{{/link-to}}
        </li>
        {{/if}}
        <li>
          {{#link-to this.route (query-params page=this.nextPage) class=(if this.isLastPage "uk-disabled")}}
          <span data-uk-pagination-next></span>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="uk-text-right uk-width-expand@m">
      <button id="bt-list" type="button" {{action "list" }} uk-icon="icon: list"></button>
      <button id="bt-grid" type="button" {{action "grid" }} uk-icon="icon: grid"></button>
    </div>
  </div>
  <ul id="list-cards" class="uk-list uk-list-divider js-filter">
    {{yield this.itemsOnCurrentPage}}
  </ul>
  <ul class="uk-pagination" data-uk-margin>
    <li>
      {{#link-to this.route (query-params page=this.previousPage) class=(if this.isFirstPage "uk-disabled")}}
      <span data-uk-pagination-previous></span>
      {{/link-to}}
    </li>
    {{#if this.showFirst}}
    <li class={{if p.active "uk-active" }}>
      {{#link-to this.route (query-params page=1)}}1{{/link-to}}
    </li>
    {{/if}}
    {{#if this.showLeftDots}}
    <li class="uk-disabled">
      <span>...</span>
    </li>
    {{/if}}
    {{#each this.pages as |p|}}
    <li class={{if p.active "uk-active" }}>
      {{#link-to this.route (query-params page=p.page)}}{{p.page}}{{/link-to}}
    </li>
    {{/each}}
    {{#if this.showRightDots}}
    <li class="uk-disabled">
      <span>...</span>
    </li>
    {{/if}}
    {{#if this.showLast}}
    <li class={{if p.active "uk-active" }}>
      {{#link-to this.route (query-params page=lastPage)}}{{lastPage}}{{/link-to}}
    </li>
    {{/if}}
    <li>
      {{#link-to this.route (query-params page=this.nextPage) class=(if this.isLastPage "uk-disabled")}}
      <span data-uk-pagination-next></span>
      {{/link-to}}
    </li>
  </ul>
</div>
{{else}}
{{translate "noResults"}}
{{/if}}