{{#if itemsOnCurrentPage}}
<ul class="uk-pagination" data-uk-margin>
  <li>
    {{#link-to "list" (query-params page=previousPage) class=(if isFirstPage "uk-disabled")}}
    <span data-uk-pagination-previous></span>
    {{/link-to}}
  </li>
  {{#if showFirst}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=1)}}1{{/link-to}}
  </li>
  {{/if}}
  {{#if showLeftDots}}
  <li class="uk-disabled">
    <span>...</span>
  </li>
  {{/if}}
  {{#each pages as |p|}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=p.page)}}{{p.page}}{{/link-to}}
  </li>
  {{/each}}
  {{#if showRightDots}}
  <li class="uk-disabled">
    <span>...</span>
  </li>
  {{/if}}
  {{#if showLast}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=lastPage)}}{{lastPage}}{{/link-to}}
  </li>
  {{/if}}
  <li>
    {{#link-to "list" (query-params page=nextPage) class=(if isLastPage "uk-disabled")}}
    <span data-uk-pagination-next></span>
    {{/link-to}}
  </li>
</ul>
<ul class="uk-list uk-list-divider">
  {{yield itemsOnCurrentPage}}
</ul>
<ul class="uk-pagination" data-uk-margin>
  <li>
    {{#link-to "list" (query-params page=previousPage) class=(if isFirstPage "uk-disabled")}}
    <span data-uk-pagination-previous></span>
    {{/link-to}}
  </li>
  {{#if showFirst}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=1)}}1{{/link-to}}
  </li>
  {{/if}}
  {{#if showLeftDots}}
  <li class="uk-disabled">
    <span>...</span>
  </li>
  {{/if}}
  {{#each pages as |p|}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=p.page)}}{{p.page}}{{/link-to}}
  </li>
  {{/each}}
  {{#if showRightDots}}
  <li class="uk-disabled">
    <span>...</span>
  </li>
  {{/if}}
  {{#if showLast}}
  <li class={{if p.active "uk-active"}}>
    {{#link-to "list" (query-params page=lastPage)}}{{lastPage}}{{/link-to}}
  </li>
  {{/if}}
  <li>
    {{#link-to "list" (query-params page=nextPage) class=(if isLastPage "uk-disabled")}}
    <span data-uk-pagination-next></span>
    {{/link-to}}
  </li>
</ul>
{{else}}
{{translate "noResults"}}
{{/if}}