<form id="subscriptionForm" autocomplete="on" onsubmit={{action "submit"}} class="uk-grid-small uk-form-horizontal" data-uk-grid>
  {{#if this.userSettings.isLoggedIn}}
    <span class="uk-text-warning">{{translate "useLogin"}}</span>
  {{else}}
    <fieldset class="address-fields uk-width-1-1 uk-fieldset">
      {{#each this.fields as |field|}}
        <InputBase @field={{field}} />
      {{/each}}
    </fieldset>

    {{#if this.companyFields}}
      <label class="uk-width-1-1">
        <button type="button" class="uk-button uk-button-default" checked={{this.useCompanyAddress}} name="useCompanyAddress" {{action "useCompanyAddress"}}>
        {{translate "companyAddress"}}
        </button>
      </label>

      <fieldset hidden={{if this.useCompanyAddress false true}} disabled={{if this.useCompanyAddress false true}} class="company-address-fields uk-width-1-1 uk-grid-margin uk-fieldset">
        {{#each this.companyFields as |field|}}
          <InputBase @field={{field}} />
        {{/each}}
      </fieldset>
    {{/if}}

    <div class="uk-width-1-1">
      <hr>
    </div>
  {{/if}}

  <fieldset class="subscription-detail-fields uk-width-1-1 uk-fieldset">
    {{#each this.subscriptionDetailFields as |field|}}
      <InputBase @field={{field}} />
    {{/each}}
  </fieldset>

  {{#if this.allowMultiplePeople}}
    <div class="uk-width-1-1">
      <button class="uk-button uk-button-default" type="button" {{action "addPerson"}}><span
          data-uk-icon="icon: plus; ratio: 0.7"></span> {{translate "addPerson"}}</button>
      {{#if this.thereAreAdditionalPeople}}
        <button class="uk-button uk-button-default" type="button" {{action "removePerson"}}><span
            data-uk-icon="icon: minus; ratio: 0.7"></span> {{translate "removePerson"}}</button>
      {{/if}}
      <hr>
    </div>

    {{#each this.additionalPeople as |index|}}
      <fieldset class="additional-person-fields uk-width-1-1 uk-fieldset">
        <h3>{{translate "person"}} {{index}}</h3>
        {{#each this.additionalPeopleFields as |field|}}
          <InputBase @field={{field}} />
        {{/each}}
        <hr>
      </fieldset>
    {{/each}}
  {{/if}}

  <div class="uk-width-1-1">
    <input class="uk-button uk-button-primary uk-float-left" type="submit" value={{translate "subscribe"}}>
    <LinkTo @route="list.category.event" class="uk-button uk-button-default uk-float-right">{{translate "back"}}</LinkTo>
  </div>
</form>
