<ol id="subscriptionProcess" class="steps uk-margin-bottom" style="z-index: 980;"
  data-uk-sticky="offset: 0; bottom: #top">
  <li class="step1">
    <span>
      <span class="stepIcon" data-uk-icon="icon: file-edit; ratio: 1.5"></span>
      <span class="stepText">{{translate "personalData"}}</span>
    </span>
  </li>

  <li class="stepConnector">
    <span data-uk-icon="icon: chevron-right; ratio: 1.5"></span>
  </li>

  <li class="step2 current">
    <span>
      <span class="stepIcon" data-uk-icon="icon: file-text; ratio: 1.5"></span>
      <span class="stepText">{{translate "confirmation"}}</span>
    </span>
  </li>
</ol>
<h2>
  {{#if this.model.statusIsRed}}
    {{translate "thankYouWaitingList"}}
  {{else}}
    {{translate "thankYou"}}
  {{/if}}
</h2>

<p>{{translate "youWillReceiveAConfirmationEMail"}}</p>

<p>{{translate "officeAddress"}}</p>

{{#if this.model.tableData.fields}}
  <h2>{{translate "yourDetails"}}</h2>

  <h3 class="uk-h3">{{translate "addressFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin confirmation-table">
    {{#each this.model.tableData.fields as |field|}}
      <tr>
        <td>{{{field.label}}}</td>
        <td>{{field.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if this.model.tableData.companyFields}}
  <h3 class="uk-h3">{{translate "companyFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin confirmation-table">
    {{#each this.model.tableData.companyFields as |companyField|}}
      <tr>
        <td>{{{companyField.label}}}</td>
        <td>{{companyField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if this.model.tableData.subscriptionDetailFields}}
  <h3 class="uk-h3">{{translate "subscriptionDetailFields"}}</h3>
  <div id="subscriptionFilesUploadFailed" class="uk-text-danger"></div>
  <table class="uk-table uk-table-striped uk-margin confirmation-table">
    {{#each this.model.tableData.subscriptionDetailFields as |subscriptionDetailField|}}
      <tr>
        <td>{{{subscriptionDetailField.label}}}</td>
        <td>{{subscriptionDetailField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#each this.model.tableData.additionalPeopleFields as |person|}}
  <h3 class="uk-h3">{{translate "person"}} {{person.index}}</h3>
  <table class="uk-table uk-table-striped uk-margin confirmation-table">
    {{#each person.data as |personField|}}
      <tr>
        <td>{{personField.label}}</td>
        <td>{{personField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/each}}

<div class="uk-margin">
 <LinkTo @route="list.category" class="uk-button uk-button-default uk-float-left">{{translate "backToCourses"}}</LinkTo>
</div>
<script>
  setInterval(function(){
    if(window.kursausschreibung.subscriptionFilesUploadFailed !== undefined) {
        document.getElementById('subscriptionFilesUploadFailed').innerHTML = window.kursausschreibung.subscriptionFilesUploadFailed;
        window.kursausschreibung.subscriptionFilesUploadFailed = undefined;
      }
  },1500);
</script>