<ol id="subscriptionProcess" class="steps uk-margin-bottom" style="z-index: 980;" uk-sticky="offset: 0; bottom: #top">
  <li class="step1">
    <span>
      <span class="stepIcon" uk-icon="icon: file-edit; ratio: 1.5"></span>
      <span class="stepText">{{translate "personalData"}}</span>
    </span>
  </li>

  <li class="stepConnector">
    <span uk-icon="icon: chevron-right; ratio: 1.5"></span>
  </li>

  <li class="step2 current">
    <span>
      <span class="stepIcon" uk-icon="icon: file-text; ratio: 1.5"></span>
      <span class="stepText">{{translate "confirmation"}}</span>
    </span>
  </li>
</ol>
<span class="uk-display-block uk-margin-top">{{translate "errorMessage"}}</span>
<span class="uk-display-block uk-margin-top uk-text-meta technical-reason">{{translate "subscriptionFailed"}}
  {{this.model.message}}</span>
<div class="uk-margin">
  <LinkTo @route="list.category.event.subscribe" class="uk-button uk-button-default uk-float-right">{{translate "backToSubscripton"}}</LinkTo>
</div>
