<ol class="steps">
  <li class="step1">
    <span>{{translate "personalData"}}</span>
  </li>
  <li class="step2 current">
    <span>{{translate "confirmation"}}</span>
  </li>
</ol>
<h2>{{translate "thankYou"}}</h2>

<p>{{translate "youWillReceiveAConfirmationEMail"}}</p>

<p>{{translate "officeAddress"}}</p>

<h2>{{translate "yourDetails"}}</h2>
<p>...</p>

<div class="uk-margin">
  {{link-to "Zurück zur Kursübersicht" "list.category" classNames="uk-button uk-button-default uk-float-left"}}
</div>