<ol class="steps">
  <li class="step1">
    <span>{{translate "personalData"}}</span>
  </li>
  <li class="step2 current">
    <span>{{translate "confirmation"}}</span>
  </li>
</ol>
<h2>
  {{#if model.statusIsRed}}
    {{translate "thankYouWaitingList"}}
  {{else}}
    {{translate "thankYou"}}
  {{/if}}
</h2>

<p>{{translate "youWillReceiveAConfirmationEMail"}}</p>

<p>{{translate "officeAddress"}}</p>

{{#if model.tableData.fields}}
  <h2>{{translate "yourDetails"}}</h2>

  <h3 class="uk-h3">{{translate "addressFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.tableData.fields as |field|}}
      <tr>
        <td>{{{field.label}}}</td>
        <td>{{field.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if model.tableData.companyFields}}
  <h3 class="uk-h3">{{translate "companyFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.tableData.companyFields as |companyField|}}
      <tr>
        <td>{{{companyField.label}}}</td>
        <td>{{companyField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if model.tableData.subscriptionDetailFields}}
  <h3 class="uk-h3">{{translate "subscriptionDetailFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.tableData.subscriptionDetailFields as |subscriptionDetailField|}}
      <tr>
        <td>{{{subscriptionDetailField.label}}}</td>
        <td>{{subscriptionDetailField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

<div class="uk-margin">
  {{link-to (translate "backToCourses") "list.category" classNames="uk-button uk-button-default uk-float-left"}}
</div>
