<ol class="steps">
  <li class="step1">
    <span>{{translate "personalData"}}</span>
  </li>
  <li class="step2 current">
    <span>{{translate "confirmation"}}</span>
  </li>
</ol>
<h2>{{translate "thankYou"}}</h2>

<p>{{translate "youWillReceiveAConfirmationEMail"}}</p>

<p>{{translate "officeAddress"}}</p>

{{#if model.fields}}
<h2>{{translate "yourDetails"}}</h2>

  <h3 class="uk-h3">{{translate "addressFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.fields as |field|}}
      <tr>
        <td>{{{field.label}}}</td>
        <td>{{field.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if model.companyFields}}
  <h3 class="uk-h3">{{translate "companyFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.companyFields as |companyField|}}
      <tr>
        <td>{{{companyField.label}}}</td>
        <td>{{companyField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if model.subscriptionDetailFields}}
  <h3 class="uk-h3">{{translate "subscriptionDetailFields"}}</h3>
  <table class="uk-table uk-table-striped uk-margin">
    {{#each model.subscriptionDetailFields as |subscriptionDetailField|}}
      <tr>
        <td>{{{subscriptionDetailField.label}}}</td>
        <td>{{subscriptionDetailField.value}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

<div class="uk-margin">
  {{link-to "Zurück zur Kursübersicht" "list.category" classNames="uk-button uk-button-default uk-float-left"}}
</div>
