{{#if showBreadcrumbs}}
  <ul class="uk-breadcrumb">
    <li>
      {{link-to model.AreaOfEducation "list"}}{{foo}}
    </li>
    <li>
      {{link-to model.EventCategory "list.category"}}
    </li>
  </ul>
{{/if}}

<h2>{{status-lamp status=model.status}}{{model.displayData.Designation}}</h2>
{{event-details-table event=model}}

{{#if badgeFreeSeatsEnabled}}
  {{remaining-seats-badge event=model}}
{{/if}}

<div class="uk-margin">
  {{link-to (translate "subscribe") "list.category.event.subscribe" classNames="uk-button uk-button-primary uk-float-left subscribe-button"
      data-uk-tooltip=(translate (concat model.status "Lamp")) tagName="button" disabled=(if model.canDoSubscription false true)}}
  {{link-to (translate "back") "list.category" classNames="uk-button uk-button-default uk-float-right"}}
</div>
