{{#if this.showBreadcrumbs}}
  <ul class="uk-breadcrumb">
    <li>
      {{link-to model.AreaOfEducation "list"}}
    </li>
    <li>
      {{link-to model.EventCategory "list.category"}}
    </li>
  </ul>
{{/if}}

<h2>
  <span class="uk-flex">
    <span>{{status-lamp status=this.model.status}}</span>
    <span>{{this.model.displayData.Designation}}</span>
  </span>
</h2>
{{#if this.model.subtitle}}
<span class="uk-label uk-label-warning uk-margin-small">{{model.subtitle}}</span>
{{/if}}
{{event-details-table event=this.model}}

{{#if this.model.externalSubscriptionURL}}
  <div class="uk-margin">
    <a href={{this.model.externalSubscriptionURL}} class="uk-button uk-button-primary uk-float-left subscribe-button"
      target="_blank" rel="noopener">
      {{translate "subscribe"}}
    </a>
    {{link-to (translate "back") "list.category" class="uk-button uk-button-default uk-float-right"}}
  </div>
{{else}}
  {{#if this.badgeFreeSeatsEnabled}}
    {{remaining-seats-badge event=this.model}}
  {{/if}}
  <div class="uk-margin">
    <!--
    <LinkTo  route="list.category.event.subscribe" class="uk-button uk-button-primary uk-float-left subscribe-button"
      data-uk-tooltip={{translate (concat this.model.status "Lamp")}} tagName="button" disabled=(if this.model.canDoSubscription false true)>{{translate "subscribe"}}</LinkTo>-->
   
   {{link-to (translate "subscribe") "list.category.event.subscribe" class="uk-button uk-button-primary uk-float-left subscribe-button"
      data-uk-tooltip=(translate (concat this.model.status "Lamp")) disabled=(if this.model.canDoSubscription false true)}}
      
    {{link-to (translate "back") "list.category" class="uk-button uk-button-default uk-float-right"}}
  </div>
  {{#if this.model.subscriptionWithLoginURL}}
    {{#if this.model.canDoSubscription }}    
    <div class="uk-margin">
      <a id="subscriptionWithLoginURL" href={{this.model.subscriptionWithLoginURL}}  target="_blank" rel="noopener" class="uk-button uk-button-primary uk-float-left subscribeWithLogin-button"
        data-uk-tooltip={{translate (concat this.model.status "Lamp")}} >{{translate "subscribeWithLogin"}}</a>
    </div>
    {{/if}}
  {{/if}}
{{/if}}
