{{#if this.showBreadcrumbs}}
  <ul class="uk-breadcrumb">
    <li>
      <LinkTo @route="list">{{this.model.AreaOfEducation}}</LinkTo>
    </li>
    <li>
      <LinkTo @route="list.category">{{this.model.EventCategory}}</LinkTo>
    </li>
  </ul>
{{/if}}

<h2>
  <span class="uk-flex">
    <span><StatusLamp @status={{this.model.status}} /></span>
    <span>{{this.model.displayData.Designation}}</span>
  </span>
</h2>
{{#if this.model.subtitle}}
<span class="uk-label uk-label-warning uk-margin-small">{{model.subtitle}}</span>
{{/if}}
<EventDetailsTable @event={{this.model}} />

{{#if this.model.externalSubscriptionURL}}
  <div class="uk-margin">
    <a href={{this.model.externalSubscriptionURL}} class="uk-button uk-button-primary uk-float-left subscribe-button"
      target="_blank" rel="noopener">
      {{translate "subscribe"}}
    </a>
   <LinkTo @route="list.category" class="uk-button uk-button-default uk-float-right">{{translate "back"}}</LinkTo>
  </div>
{{else}}
  {{#if this.badgeFreeSeatsEnabled}}
    <RemainingSeatsBadge @event={{this.model}} />
  {{/if}}
  <div class="uk-margin">
    {{#if this.model.canDoSubscription}}
      <LinkTo @route="list.category.event.subscribe" data-uk-tooltip={{translate (concat this.model.status "Lamp")}} class="uk-button uk-button-primary uk-float-left subscribe-button">{{translate "subscribe"}}</LinkTo>   
    {{else}}
      <button data-uk-tooltip={{translate (concat this.model.status "Lamp")}} disabled class="uk-button uk-button-primary uk-float-left subscribe-button">{{translate "subscribe"}}</button> 
    {{/if}}
    <LinkTo @route="list.category" class="uk-button uk-button-default uk-float-right">{{translate "back"}}</LinkTo>
  </div>
  {{#if this.model.subscriptionWithLoginURL}}
    {{#if this.model.canDoSubscription }}    
    <div class="uk-margin">
      <a id="subscriptionWithLoginURL" href={{this.model.subscriptionWithLoginURL}}  target="_blank" rel="noopener" class="uk-button uk-button-primary uk-float-left subscribeWithLogin-button"
        data-uk-tooltip={{translate (concat this.model.status "Lamp")}} >{{translate "subscribeWithLogin"}}</a>
    </div>
    {{/if}}
  {{/if}}
{{/if}}
