{{#if showBreadcrumbs}}
  <ul class="uk-breadcrumb">
    <li>
      {{link-to model.AreaOfEducation "list"}}{{foo}}
    </li>
    <li>
        {{link-to model.EventCategory "list.category"}}
    </li>
  </ul>
{{/if}}

<h2>{{model.displayData.Designation}}</h2>
{{event-details-table event=model}}

<div class="uk-margin">
  {{link-to "Anmelden" "list.category.event.subscribe" classNames="uk-button uk-button-primary uk-float-left subscribe-button"}}
  {{link-to "Zurück" "list.category" classNames="uk-button uk-button-default uk-float-right"}}
</div>