{{#if showBreadcrumbs}}
  <ul class="uk-breadcrumb">
    <li>
      {{link-to model.AreaOfEducation "list"}}
    </li>
    <li>
      {{link-to model.EventCategory "list.category"}}
    </li>
  </ul>
{{/if}}

<h2>
  <span class="uk-flex">
    <span>{{status-lamp status=model.status}}</span>
    <span>{{model.displayData.Designation}}</span>
  </span>
</h2>
{{#if model.subtitle}}
<span class="uk-label uk-label-warning uk-margin-small">{{model.subtitle}}</span>
{{/if}}
{{event-details-table event=model}}

{{#if model.externalSubscriptionURL}}
  <div class="uk-margin">
    <a href={{model.externalSubscriptionURL}} class="uk-button uk-button-primary uk-float-left subscribe-button"
      target="_blank" rel="noopener">
      {{translate "subscribe"}}
    </a>
    {{link-to (translate "back") "list.category" classNames="uk-button uk-button-default uk-float-right"}}
  </div>
{{else}}
  {{#if badgeFreeSeatsEnabled}}
    {{remaining-seats-badge event=model}}
  {{/if}}
  <div class="uk-margin">
    {{link-to (translate "subscribe") "list.category.event.subscribe" classNames="uk-button uk-button-primary uk-float-left subscribe-button"
      data-uk-tooltip=(translate (concat model.status "Lamp")) tagName="button" disabled=(if model.canDoSubscription false true)}}
    {{link-to (translate "back") "list.category" classNames="uk-button uk-button-default uk-float-right"}}
  </div>
  {{#if model.subscriptionWithLoginURL}}
    {{#if model.canDoSubscription }}    
    <div class="uk-margin">
      <a id="subscriptionWithLoginURL" href={{model.subscriptionWithLoginURL}}  target="_blank" rel="noopener" class="uk-button uk-button-primary uk-float-left subscribeWithLogin-button"
        data-uk-tooltip={{translate (concat model.status "Lamp")}} >{{translate "subscribeWithLogin"}}</a>
    </div>
    {{/if}}
  {{/if}}
{{/if}}
