<h2>
  <span class="uk-flex">
    <span><StatusLamp @status={{this.model.status}} /></span>
    <span>{{this.model.displayData.Designation}}</span>
  </span>
</h2>

<EventDetailsTable @event={{this.model}} />
<hr>

<ol id="subscriptionProcess" class="steps uk-margin-bottom" style="z-index: 980;"
  data-uk-sticky="offset: 0; bottom: #top">
  <li class="step1 current">
    <span>
      <span class="stepIcon" data-uk-icon="icon: file-edit; ratio: 1.5"></span>
      <span class="stepText">{{translate "personalData"}}</span>
    </span>
  </li>

  <li class="stepConnector">
    <span data-uk-icon="icon: chevron-right; ratio: 1.5"></span>
  </li>

  <li class="step2">
    <span>
      <span class="stepIcon" data-uk-icon="icon: file-text; ratio: 1.5"></span>
      <span class="stepText">{{translate "confirmation"}}</span>
    </span>
  </li>
</ol>

{{! FORM }}
<SubscriptionForm 
  @event={{this.model}} 
  @fields={{this.fields}} 
  @companyFields={{this.companyFields}} 
  @enableInvoiceAddress={{this.enableInvoiceAddress}} 
  @subscriptionDetailFields={{this.subscriptionDetailFields}} 
  @allowMultiplePeople={{this.allowMultiplePeople}} 
  @additionalPeopleFields={{this.additionalPeopleFields}} 
  @userSettings={{this.model.userSettings}} 
  @subscribe={{action "subscribe"}} />
