<ol class="steps">
  <li class="step1 current">
    <span>{{translate "personalData"}}</span>
  </li>
  <li class="step2">
    <span>{{translate "confirmation"}}</span>
  </li>
</ol>

<h2>{{model.displayData.Designation}}</h2>
{{event-details-table event=model}}

<!-- FORM -->
{{subscription-form fields=fields companyFields=companyFields
  subscriptionDetailFields=subscriptionDetailFields eventId=model.Id
  subscriptionFinished=(action "subscriptionFinished")}}