<div class="js-upload" uk-form-custom>
    <input id="file{{field.id}}" class="uk-input" type="file" accept={{field.acceptFileType}} name={{field.id}} required={{field.options.required}} disabled={{field.options.disabled}}>
    {{#if field.options.required}}
    <button id="fileBt{{field.id}}" class="uk-button uk-button-default required" type="button" tabindex="-1" required={{field.options.required}}>{{field.fileTypeLabel}}</button>
    {{else}} 
    <button id="fileBt{{field.id}}" class="uk-button uk-button-default" type="button" tabindex="-1" required={{field.options.required}}>{{field.fileTypeLabel}}</button>
    {{/if}}
</div>
<button id="fileBtDel{{field.id}}" class="uk-button-danger uk-hidden"><span uk-icon="icon: close; ratio: 1"></span></button>