{{#if this.field.options.showAsRadioButtons}}
  <div class="uk-grid-small uk-child-width-auto uk-grid">
    {{#each this.field.options.options as |option|}}
      <label><input id="vss{{field.id}}" class="uk-radio" type="radio" name={{field.id}} value={{option.Key}}
          data-human-readable={{option.Value}} required={{field.options.required}} disabled={{field.options.disabled}}>
        {{option.Value}}</label>
    {{/each}}
  </div>
{{else}}
  <select id="vss{{this.field.id}}" class="uk-select" name={{this.field.id}} autocomplete={{this.field.options.autocomplete}}
    disabled={{this.field.options.disabled}}>
    {{#unless this.field.options.required}}
      <option value=""></option>
    {{/unless}}
    {{#each this.field.options.options as |option|}}
      <option value={{option.Key}}>{{option.Value}}</option>
    {{/each}} 
  </select>
{{/if}}
