<div class="uk-width-1-1">

  <a href="#menu-modal" class="uk-icon-link uk-float-right uk-margin-top uk-margin-right uk-hidden@m" uk-icon="menu" uk-toggle>{{translate "menu"}} </a>

  <div id="menu-modal" class="uk-modal-full" uk-modal="container: false;">
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" data-uk-close></button>
      <div class="uk-padding-large" data-uk-height-viewport>
        <h2>{{translate "navigation"}}</h2>
        {{#each-in model.areas as |area data|}}
          <div class="uk-margin">
            {{area-navigation data}}
          </div>
        {{/each-in}}
        {{#if showLanguageButton}}
          <div class="uk-margin">
            <h2>{{translate "language"}}</h2>
              <ul class="uk-nav uk-nav-default">
                <li><a {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
                <li><a {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
              </ul>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#if showLanguageButton}}
    <div class="uk-float-right uk-margin-top uk-margin-right uk-visible@m">
      <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="world">{{translate "language"}} </a>
      <div data-uk-dropdown="mode: click">
        <ul class="uk-list uk-link-text uk-margin-remove">
          <li><a href="#" {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
          <li><a href="#" {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
        </ul>
      </div>
    </div>
  {{/if}}

  <ul data-uk-tab class="uk-width-1-1 uk-margin-top">
    {{#each model.areaKeys as |areaKey|}}
      {{#link-to "list" areaKey tagName="li" activeClass="uk-active"}}
        {{link-to (get (get model.areas areaKey) "name") "list" areaKey}}
      {{/link-to}}
      {{#if eventCategoryDropdown}}
        <div data-uk-dropdown>
          {{area-navigation (get model.areas areaKey) hideHeading=true}}
        </div>
      {{/if}}
    {{/each}}
  </ul>

  <div class="uk-grid uk-margin" data-uk-grid>
    <!-- LEFT + CENTER -->
    {{outlet}}

    <!-- RIGHT -->
    <div class="uk-width-1-4@l">

      <!-- LOGO -->
      {{#if logoImage}}
        {{#if logoLink}}
          <a target="_blank" href={{logoLink}}>
            <img class="uk-margin" src={{logoImage}}>
          </a>
        {{else}}
          <img class="uk-margin" src={{logoImage}}>
        {{/if}}
      {{/if}}

      <!-- LEGEND -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
        <h2 class="uk-h3 uk-card-title">{{translate "legend"}}</h2>

        <ul class="uk-list uk-list-divider">
          <li>
            {{status-lamp status="green"}}{{translate "greenLamp"}}</li>
          <li>
            {{status-lamp status="yellow"}}{{translate "yellowLamp"}}</li>
          <li>
            {{status-lamp status="red"}}{{translate "redLamp"}}</li>
          <li>
            {{status-lamp status="orange"}}{{translate "orangeLamp"}}</li>
        </ul>
      </div>

      <!-- CONTACT -->
      {{#if showContact}}
        <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
          <h2 class="uk-h3 uk-card-title">{{translate "contact"}}</h2>
          <p>{{translate "contactContent"}}</p>
        </div>
      {{/if}}

      <!-- TWEETS -->
      {{#if twitterHandle}}
        <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body uk-visible@l">
          {{twitter-feed twitterHandle}}
        </div>
      {{/if}}
    </div>
  </div>
</div>