<div class="uk-width-1-1">

  {{! NAVIGATION }}
  <nav class="uk-navbar-container uk-margin-top" data-uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        {{#each model.areaKeys as |areaKey|}}
          {{#link-to "list" areaKey tagName="li" activeClass="uk-active"}}
            {{#link-to "list" areaKey}}
              {{get (get model.areas areaKey) "name"}}
              {{#if eventCategoryDropdown}}
                <span uk-icon="icon: chevron-down"></span>
              {{/if}}
            {{/link-to}}
          {{/link-to}}
          {{#if eventCategoryDropdown}}
            <div data-uk-dropdown>
              {{area-navigation (get model.areas areaKey) hideHeading=true}}
            </div>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          {{! MENU MODAL }}
          {{#unless eventCategoryDropdown}}
            <a href="#menu-modal" class="uk-icon-link uk-hidden@m" data-uk-icon="more"
              data-uk-toggle></a>

            <div id="menu-modal" class="uk-modal-full" uk-modal="container: false;">
              <div class="uk-modal-dialog">
                <button class="uk-modal-close-full uk-close-large" type="button" data-uk-close></button>
                <div class="uk-padding-large" data-uk-height-viewport>
                  <h2>{{translate "navigation"}}</h2>
                  {{#each-in model.areas as |area data|}}
                    <div class="uk-margin">
                      {{area-navigation data}}
                    </div>
                  {{/each-in}}
                  {{#if showLanguageButton}}
                    <div class="uk-margin">
                      <h2>{{translate "language"}}</h2>
                      <ul class="uk-nav uk-nav-default">
                        <li><a {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
                        <li><a {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
                      </ul>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/unless}}

          {{! LANGUAGE BUTTON }}
          {{#if showLanguageButton}}
            <div class="uk-margin-right {{unless eventCategoryDropdown "uk-visible@m"}}">
              <a href="#" class="uk-icon-link" data-uk-icon="world">{{translate "language"}} </a>
              <div data-uk-dropdown="mode: click">
                <ul class="uk-list uk-link-text uk-margin-remove">
                  <li><a href="#" {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
                  <li><a href="#" {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
                </ul>
              </div>
            </div>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>

  <div class="uk-grid uk-margin" data-uk-grid>
    {{! LEFT + CENTER }}
    {{outlet}}

    {{! RIGHT }}
    <div class={{rightWidth}}>

      {{! LOGO }}
      {{#if logoImage}}
        {{#if logoLink}}
          <a target="_blank" href={{logoLink}}>
            <img class="uk-margin" src={{logoImage}}>
          </a>
        {{else}}
          <img class="uk-margin" src={{logoImage}}>
        {{/if}}
      {{/if}}

      {{! LEGEND }}
      <div class="uk-margin uk-card uk-card-small uk-card-body">
        <h2 id="header-legend" class="uk-h3 uk-card-title">{{translate "legend"}}</h2>

        <ul class="uk-list">
          <li class="uk-flex">
            <span>{{status-lamp status="green"}}</span><span>{{translate "greenLamp"}}</span></li>
          <li class="uk-flex">
            <span>{{status-lamp status="chartreuse"}}</span><span>{{translate "chartreuseLamp"}}</span></li>
          <li class="uk-flex">
            <span>{{status-lamp status="yellow"}}</span><span>{{translate "yellowLamp"}}</span></li>
          <li class="uk-flex">
            <span>{{status-lamp status="red"}}</span><span>{{translate "redLamp"}}</span></li>
          <li class="uk-flex">
            <span>{{status-lamp status="orange"}}</span><span>{{translate "orangeLamp"}}</span></li>
        </ul>
      </div>

      {{! CONTACT }}
      {{#if showContact}}
        <div class="uk-margin uk-card uk-card-small uk-card-body">
          <h2 id="header-contact" class="uk-h3 uk-card-title">{{translate "contact"}}</h2>
          <p>{{translate "contactContent"}}</p>
        </div>
      {{/if}}

      {{! TWEETS }}
      {{#if twitterHandle}}
        <div class="uk-margin uk-card uk-card-small uk-card-body uk-visible@l">
          {{twitter-feed twitterHandle}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
