<div class="uk-width-1-1">

  <div class="uk-inline" style="float:right;margin:20px 20px 0px 0;">
    <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="world">{{translate "language"}} </a>
    <div uk-dropdown="mode: click">
      <ul class="uk-list uk-link-text uk-margin-remove">
        <li><a href="#" {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
        <li><a href="#" {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
      </ul>
    </div>
  </div>

  <ul uk-tab class="uk-width-1-1 uk-margin-top">
    {{#each-in model.eventsByArea as |area data|}}
      {{!-- https://stackoverflow.com/questions/16380523/create-a-li-class-active-around-an-active-linkto#answer-18630506 --}}
      {{#link-to  "list" area tagName='li' href=false activeClass="uk-active"}}
        {{#link-to "list" area}}{{data.name}}{{/link-to}}
      {{/link-to}}
    {{/each-in}}
  </ul>

  <div class="uk-grid uk-margin" uk-grid>
    <!-- LEFT + CENTER -->
    {{outlet}}

    <!-- RIGHT -->
    <div class="uk-width-1-4@l">

      <!-- LOGO -->
      <img class="uk-margin uk-preserve-width" src="{{rootURL}}assets/images/logo.jpg">

      <!-- LEGEND -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
        <h2 class="uk-h3 uk-card-title">{{translate "legend"}}</h2>

        <ul class="uk-list uk-list-divider">
          <li>
            {{status-lamp status="green"}}{{translate "freeSeatsAvailable"}}</li>
          <li>
            {{status-lamp status="yellow"}}{{translate "deadlineExpired"}}</li>
          <li>
            {{status-lamp status="red"}}{{translate "noFreeSeats"}}</li>
          <li>
            {{status-lamp status="orange"}}{{translate "notAvailableOnline"}}</li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
        <h2 class="uk-h3 uk-card-title">{{translate "contact"}}</h2>
        <p>Kasernenstrasse 27
          <br> Postfach
          <br> 3000 Bern 22
          <br> Telefon: 031 633 87 00
        </p>
      </div>

      <!-- TWEETS -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body uk-visible@l">
        {{twitter-feed username="erz_kantonbern"}}
      </div>
    </div>
  </div>
</div>