<div class="uk-width-1-1">

  <a href="#menu-modal" class="uk-icon-link uk-float-right uk-margin-top uk-margin-right uk-hidden@m" uk-icon="menu" uk-toggle>{{translate "menu"}} </a>

  <div id="menu-modal" class="uk-modal-full" uk-modal="container: false;">
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
      <div class="uk-padding-large" uk-height-viewport>
        <h2>{{translate "navigation"}}</h2>
        {{#each-in model.eventsByArea as |area data|}}
          <div class="uk-margin">
            {{area-navigation data}}
          </div>
        {{/each-in}}
        <div class="uk-margin">
          <h2>{{translate "language"}}</h2>
            <ul class="uk-nav uk-nav-default">
              <li><a {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
              <li><a {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-float-right uk-margin-top uk-margin-right uk-visible@m">
    <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="world">{{translate "language"}} </a>
    <div uk-dropdown="mode: click">
      <ul class="uk-list uk-link-text uk-margin-remove">
        <li><a href="#" {{action "setLanguage" "de-CH"}}>{{translate "german"}}</a></li>
        <li><a href="#" {{action "setLanguage" "fr-CH"}}>{{translate "french"}}</a></li>
      </ul>
    </div>
  </div>

  <ul uk-tab class="uk-width-1-1 uk-margin-top">
    {{#each-in model.eventsByArea as |area data|}}
      {{#link-to "list" area tagName="li" activeClass="uk-active"}}
        {{link-to data.name "list" area}}
      {{/link-to}}
    {{/each-in}}
  </ul>

  <div class="uk-grid uk-margin" uk-grid>
    <!-- LEFT + CENTER -->
    {{outlet}}

    <!-- RIGHT -->
    <div class="uk-width-1-4@l">

      <!-- LOGO -->
      {{#if logoImage}}
        {{#if logoLink}}
          <a target="_blank" href={{logoLink}}>
            <img class="uk-margin" src={{logoImage}}>
          </a>
        {{else}}
          <img class="uk-margin" src={{logoImage}}>
        {{/if}}
      {{/if}}

      <!-- LEGEND -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
        <h2 class="uk-h3 uk-card-title">{{translate "legend"}}</h2>

        <ul class="uk-list uk-list-divider">
          <li>
            {{status-lamp status="green"}}{{translate "freeSeatsAvailable"}}</li>
          <li>
            {{status-lamp status="yellow"}}{{translate "deadlineExpired"}}</li>
          <li>
            {{status-lamp status="red"}}{{translate "noFreeSeats"}}</li>
          <li>
            {{status-lamp status="orange"}}{{translate "notAvailableOnline"}}</li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body">
        <h2 class="uk-h3 uk-card-title">{{translate "contact"}}</h2>
        <p>Kasernenstrasse 27
          <br> Postfach
          <br> 3000 Bern 22
          <br> Telefon: 031 633 87 00
        </p>
      </div>

      <!-- TWEETS -->
      {{#if twitterHandle}}
        <div class="uk-margin uk-card uk-card-default uk-card-small uk-card-body uk-visible@l">
          {{twitter-feed twitterHandle}}
        </div>
      {{/if}}
    </div>
  </div>
</div>